.container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: rgba(40, 68, 252, 0.473);
    background: linear-gradient(90deg, rgba(10, 42, 250, 0.562) 2%, rgba(15, 15, 221, 0.5) 50%, rgba(10,43,250,1) 83%);
    font-style: italic;
}

.container__image img {
    width: 90px;
    height: 70px;
}

.container__links {
    display: flex;
    gap: 10px;
    font-size: 22px;
    cursor: pointer;
}

a {
    border: solid 1px;
    border-radius: 10px;
}

.container__links a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
.btn {
    margin-top: 10px;
    border: solid 1px;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-style: italic;
}
