<div class="card">
    <a class="card-image">
        <img src="product.name" alt="product name">
    </a>

    <div class="card-content">
        <h3 class="card-category">
            Product Category
        </h3>
        <h2 class="card-name">
            <a href="#">Product Name</a>
        </h2>
        <div class="card-footer">
            <p class="card-price">Product Price</p>
            <button class="card-button">
                Add to cart
            </button>
        </div>
    </div>
</div>