<form class="registration-form">
    <label class="form-label" for="email">Email:</label>
    <input class="form-input" type="email" id="email" name="email" required>

    <label class="form-label" for="username">Username:</label>
    <input class="form-input" type="text" id="username" name="username" required>

    <label class="form-label" for="password">Password:</label>
    <input class="form-input" type="password" id="password" name="password" required>

    <label class="form-label" for="firstname">First Name:</label>
    <input class="form-input" type="text" id="firstname" name="name[firstname]" required>

    <label class="form-label" for="lastname">Last Name:</label>
    <input class="form-input" type="text" id="lastname" name="name[lastname]" required>

    <label class="form-label" for="city">City:</label>
    <input class="form-input" type="text" id="city" name="address[city]" required>

    <label class="form-label" for="street">Street:</label>
    <input class="form-input" type="text" id="street" name="address[street]" required>

    <label class="form-label" for="number">Number:</label>
    <input class="form-input" type="number" id="number" name="address[number]" required>

    <label class="form-label" for="zipcode">Zip Code:</label>
    <input class="form-input" type="text" id="zipcode" name="address[zipcode]" required>

    <label class="form-label" for="lat">Latitude:</label>
    <input class="form-input" type="text" id="lat" name="address[geolocation][lat]" required>

    <label class="form-label" for="long">Longitude:</label>
    <input class="form-input" type="text" id="long" name="address[geolocation][long]" required>

    <label class="form-label" for="phone">Phone:</label>
    <input class="form-input" type="tel" id="phone" name="phone" required>

    <button class="form-button" type="submit">Register</button>
</form>