<form class="registration-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <label class="form-label" for="email">Email:</label>
    <input class="form-input" type="email" id="email" name="email" required>

    <label class="form-label" for="username">Username:</label>
    <input class="form-input" type="text" id="username" name="username" required>

    <label class="form-label" for="password">Senha:</label>
    <input class="form-input" type="password" id="password" name="password" required>

    <label class="form-label" for="name">Nome:</label>
    <input class="form-input" type="text" id="name" name="name[name]" required>


    <label class="form-label" for="city">Cidade:</label>
    <input class="form-input" type="text" id="city" name="address[city]" required>

    <label class="form-label" for="street">Rua:</label>
    <input class="form-input" type="text" id="street" name="address[street]" required>

    <label class="form-label" for="number">Numero:</label>
    <input class="form-input" type="number" id="numbere aqui no forms esta assim " name="address[number]" required>

    <label class="form-label" for="zipcode">CEP:</label>
    <input class="form-input" type="text" id="zipcode" name="address[zipcode]" required>

    <label class="form-label" for="phone">Telefone:</label>
    <input class="form-input" type="tel" id="phone" name="phone" required>

    <button class="form-button" type="submit">Cadastrar</button>
</form>